.header-info-right ul.user-account {
    margin-right: 0px;
    margin-left: 30px;
}
.header-top .header-info-right .select-language .nice-select {
    margin-right: 0px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 10px;
}
.header-top .header-info-right .select-language .nice-select::after {
    right: auto;
    left: 10px;
}
.header-top .header-info-left .listing {
    display: flex;
    align-items: center;
}
.header-top .header-info-left .listing .listItem {
    margin-right: 0px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header-top .header-info-left .listing .listItem .icon {
    margin-right: 5px;
}

.navbar-area.agency_nav .nav-container .navbar-collapse .navbar-nav li a {
    padding: 10px 0px 10px 30px;
}

.navbar-area.agency_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children > a {
    padding: 10px 0px 10px 30px;
}
.navbar-area.agency_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children > a::after {
    left: -4px;
}

.navbar-area.agency_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    text-align: right;
    left: auto;
    right: 0;
}

/*banner*/
.agency_banner_reviewer__thumb:not(:first-child) {
    margin-left: 0;
    margin-right: -10px;
}
.agency_banner_reviewer__position {
    left: auto;
    right: -100px;
}
.agency_banner__content__wrapper .agency_banner__single__content__title .agency_banner_title_shape {
    right: auto;
    left: 0;
}

/*about*/

.agency_section__title.text-left {
    text-align: right;
}
.agency_title_shape {
    right: auto;
    left: 0;
}
.agency_about__list li {
    padding-left: 0px;
    padding-right: 30px;
}

.agency_about__list li::before {
    left: auto;
    right: 0;
}

/*work */
.thumb_shape::before {
    right: auto;
    left: -40px;
}
.append-work, .append-blog {
    flex-direction: row-reverse;
}
.append-testimonial {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.footer-widget .listing-info .icon {
    margin-right: 0px;
    margin-left: 5px;
}