.header-info-right ul.user-account {
    margin-right: 0px;
    margin-left: 30px;
}
.header-top .header-info-right .select-language .nice-select {
    margin-right: 0px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 10px;
}
.header-top .header-info-right .select-language .nice-select::after {
    right: auto;
    left: 10px;
}
.header-top .header-info-left .listing {
    display: flex;
    align-items: center;
}
.header-top .header-info-left .listing .listItem {
    margin-right: 0px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header-top .header-info-left .listing .listItem .icon {
    margin-right: 5px;
}

.navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li a {
    padding: 10px 0px 10px 30px;
}

.navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children > a {
    padding: 10px 0px 10px 30px;
}
.navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children > a::after {
    left: -4px;
}

.navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    text-align: right;
    left: auto;
    right: 0;
}

@media only screen and (max-width: 991px) {
    .navbar-area.portfolio_nav .navbar-toggler {
        right: auto;
        left: 0;
    }
    .portfolio_nav .click-nav-right-icon {
        right: auto;
        left: 60px;
    }
    .navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li {
        text-align: right;
    }
    .navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li a,
    .navbar-area.portfolio_nav .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children > a {
        padding: 15px 20px;
    }
    .portfolio_nav .show-nav-content {
        margin-left: 0;
        margin-right: auto;
    }
}

/* banner */

.portfolio_banner__right {
    text-align: left;
}
.portfolio_banner__thumb__small {
    left: auto;
    right: -170px;
    transform: rotate(130deg);
}

.portfolio_bannerbottom__single__contents {
    padding-right: 0;
    padding-left: 30px;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .portfolio_bannerbottom__single__contents {
        padding-right: 0;
        padding-left: 0px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .portfolio_bannerbottom__single__contents {
        padding-right: 0;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 767.98px) {
    .portfolio_bannerbottom__single__contents {
        padding-right: 0;
        padding-left: 0px;
    }
}

.portfolio_sectionTitle.text-left {
    text-align: right;
}

.portfolio_make__wrapper {
    text-align: left;
}

.portfolio_make__thumb__main {
    padding: 30px 0 0 30px;
}

.portfolio_make__thumb__main::before {
    right: auto;
    left: 0px;
}

.portfolio_make__counter {
    left: auto;
    right: 0;
}

.portfolio_make__counter__item:nth-child(2n+2) {
    border-left: none;
    border-right: 1px solid var(--main-color-one);
}

.portfolio_blog__tag__item:not(:last-child)::after {
    right: auto;
    left: -7px;
}

.portfolioContact__thumb__main {
    padding: 20px 20px 0 0;
    position: relative;
    border-radius: 240px;
}

.portfolioContact__thumb__main::before {
    left: auto;
    right: 0;
}

.portfolio_footer_widget .portfolio_footer_inner .footer-contact-details {
    text-align: right;
}